@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: var(--rlm-window-color, #FFF);
    color: var(--rlm-text-color, #000);
}

.input-box-wrap .input-box {
    transition: 0.2s ease;
    opacity:0;
}

.input-box-wrap:hover .input-box {
    transition: 0.2s ease;
    opacity:1;
}

#image-input {
    background-color: var(--rlm-window-color, #FFF);
    color: var(--rlm-text-color, #000);
}
#image-input-button {
    background-color: var(--rlm-window-color, #FFF);
    color: var(--rlm-text-color, #000);
}

img {
    margin: auto;
}
